:root {
  --font-family-heading: "Anton", sans-serif;
  -moz-font-feature-body: "Noto Sans JP", sans-serif;

  --color-white: #fffefc;
  --color-black: #020911;
  --color-accent-yellow: #f2e52e;
  --color-accent-red: #f20574;
  --color-background-black: #171525;
  --color-background-navy: #030427;
  --color-form-background-yellow: #fffab9;
  --color-form-background-gray: #ad9783;
  --color-form-border-red: #df6da2;
  --color-buttom-hover-red: #f043a5;
  --color-couse-hover-yellow: #f4e877;
  --color-hero-overlay: rgba(57, 24, 111, 0.4);
  --color-coouse-overlay: rgba(32, 8, 19, 0.63);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
}

img {
  display: block;
}

.header {
  height: 80px;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-logo-wrapper {
  margin: 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }
}

.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 40px;
  position: relative;
  margin-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}

.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.hero-texts {
  color: var(--color-accent-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-main-copy {
  font-family: var(--font-family-heading);
  font-size: 64px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05em;
  color: var(--color-accent-yellow);
}

.hero-main-copy-accent {
  color: var(--color-accent-red);
}

.hero-sub-copy {
  margin: 0;
}

@media (max-width: 750px) {
  .hero {
    margin-top: 60px;
    padding: 40px 20px;
  }
  .hero-container {
    justify-content: flex-start;
  }
  .hero-texts {
    gap: 20px;
  }
}

.about {
  background-color: var(--color-background-black);
}

.about-container {
  gap: 40px;
}

.about-section-head {
  columns: var(--color-white);
}

.about-accent-red {
  color: var(--color-accent-red);
}

.about-accent-yellow {
  color: var(--color-accent-yellow);
}

.container {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  gap: 40px;
}

.about-section-head {
  color: var(--color-white);
}

@media (max-width: 750px) {
  .container {
    padding: 0 20px;
  }
}

.container {
  padding: 0 40px;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 750px) {
  .section-head {
    font-size: 24px;
  }
}

.section-head {
  font-family: var(--font-family-anton);
  font-size: 32px;
  letter-spacing: 0.02em;
  margin: 0;
  font-weight: 400;
}

@media (max-width: 750px) {
  section {
    padding: 40px 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-body-and-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-section-body {
  flex: 1;
  color: var(--color-white);
  margin: 0;
}

@media (max-width: 750px) {
  .about-image-wrapper {
    display: none;
  }
}

.about-image-wrapper {
  width: 320px;
  height: 180px;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  display: block;
}

.courses {
  background: var(--color-background-navy);
}

.courses-container {
  gap: 40px;
}

.courses-section-head {
  color: var(--color-white);
}

.courses-block-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 750px) {
  .course-block {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

.course-block {
  display: flex;
  min-height: 150px;
  text-decoration: none;
  box-shadow: 4px 4px 0 var(--color-accent-red);
  transition-duration: 0.3s;
}
